
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <form method="post" action="Insert">
        Id:<input type="text" name="Id" id="Id" />
        <br />
        Name:<input type="text" name="Name" id="Name" />
        <br />
        Price:<input type="text" name="price" id="price" />
        <br />
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
